.fondo_verde {
    background-color: #28a745;
    }

    .seccion {
    background-color: #28a745;
    }

    .cuppon {
      background-color: #28a745;
    }

    .imagen {
      height: 250px;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer {
      background-color: #28a745;
      color: white;
      text-align: center;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 20px
    }

    .boton {
      text-align: center;
      margin: 15px;
    }